.our-team-container{
    padding: 50px 30px;
    .our-team{
        display: flex;
        gap: 20px;
        .our-team-p{
            width: 60%;
        }
        .team-images{
            max-width: 800px;

            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 500px;
                // width: 100%;
            }
        }    
        @media (max-width: 950px){
            flex-direction: column;
            .our-team-p{
                width: 100%;
            }

        }
        @media (max-width:850px) {
            flex-direction: column;
            gap: 0px;
            // .team-images{
            //     text-align: center;
            // }
            // .our-team-p{
            //     width: 60%;
            // }
        }
        @media (max-width: 612px){
            .team-images{
                img{
                    width: 100%;
                }
            }
        }
    }
}
