.home-care-layout{
    padding: 0 30px;
}
.home-care-container{
    max-width: 1300px;
    margin: 60px auto;
    .home-care-header p{
        margin: 40px 0;
    }
    .home-care-details{
        .alignimg{
            height: 400px;
            width: 250px;
        }
        .alignfloat{
            float: right;
            @media (max-width: 612px) {
                float: none; 
                width: 100%;
                height: 400px;
            }
        }
    }
}
    



.purple-list {
    list-style-type: none;
    padding-left: 0;
    li {
        line-height: 3.5;  
        img{
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.3rem;    
            background-color: $purple-color;
            
        }
    }
    
}
.two-column-list {
    columns: 2;
    column-gap: 2rem;
    @media (max-width: 821px) {
        columns: 1;
    }
}

@media (max-width: 612px){
    h2, h1{
        font-size: 1.5em;
    }
}
  

@media (max-width: 768px){
 
    .home-care-header {
        margin: 40px 0;
    }
}


