

h1, h2, h3 {
    // color: #862d7c;
    //margin-top: 0;
    margin: 0.67em 0;
    //margin-bottom: 1.5rem;
    text-rendering: optimizeLegibility;
    //font-weight: 400;
    font-size: 2.625rem;

    font-family: "Fira Sans",Verdana,Helvetica,sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
h3{
    font-size: 1.5rem;
}
p{
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: "Fira Sans",Verdana,Helvetica,sans-serif;
    line-height: 1.5;
    color: #37393b;
}

.story-layout-container{
    padding: 0 30px; 
    
    .story-layout{
        margin: auto;
        max-width: 1300px;
        .story-container {
            display: flex;
          
            .story-details,
            .imgClass {
              flex: 1;
              
            }
          
            .imgClass {
                display: flex;
                align-items: center;
                padding: 20px;
              img {
                display: block;
                max-width: 100%;
                height: auto;
                align-items: center;
              }
            }
            @media screen and (max-width: 769px){
                flex-direction: column;
            }
          }
        .details-container{
            display: flex;
            margin: auto;
            .left-sidebar{
                // width: 100%;
                width: 68%;
            }
            // .right-sidebar{
            //     width: 32%;
            //     // margin-left: 3rem;
            //     .sidebar-container{
            //         // width: 100%;
            //         margin-left: 3rem;
            //         //width: 32%;
            //         border-left: 0;
            //         // height: -webkit-max-content;
            //         height: max-content;
            //         margin-bottom: 4.5rem;
            //         padding-bottom: 1.5rem;
            //         padding-left: 0;
            //         .sidebar-menu{
            //             border-left: 3px solid #862d7c;
            //         }
            //     }
                
            //     li {
            //         border-bottom: 1px solid #959aa3;
            //         display: block;
            //         a{
            //             color: #37393b;
            //             display: block;
            //             font-weight: 400;
            //             letter-spacing: .5px;
            //             padding: 0.75rem;
            //             text-decoration: none;
            //         }
            //     }
            // }
            @media screen and (max-width: 821px){
                flex-direction: column;
                .right-sidebar{
                    margin-left: 0;
                }           
                .left-sidebar, .right-sidebar{
                    width: 100%;
                }

            }
        }
    }
}




.alignright{
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;     
    height: auto;
    max-width: 100%;
}

.more-info {
    background-color: transparent;
    color: #862d7c;
    font-weight: 600;
    text-decoration: underline;
    transition: color .25s ease-in-out;
}

